extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Be part of the sports revolution.</strong>
        h2 Find tech and startup jobs in sports.
      

  section.job_content
  

    .jobform
      div.explainer__box
        p <b> Find the best</b> tech talents for your company.
        p#subline Sportekjobs is the first job board for the sports company with the focus on tech and start up jobs. Trusted by sports companies like 
        div.logo__box
          img#logos(src='../images/logoff.png')
          img#logos(src='../images/paris.png')
          img#logos(src='../images/flair.png')
          
      .submissionform
        form#jobForm(action="/addjob", method="post")
                    label Position
                    input(type='text' name='position')
                    label Company Name
                    input(type='text' name='company')
                    label Location
                    input(type='text' name='location')
                    
                    label Twitter Handler
                    input(type='text'  name='twitter')
                    label Facebook Profile
                    input(type='text'  name='facebook')
                    label Area of Work
                    select(name='areaofwork')
                      option(value='eSports') eSports
                      option(value='SportsAgency') SportsAgency
                      option(value='SportsAnalytics') SportsAnalytics
                      option(value='SportsHardware') SportsHardware
                      option(value='SportsAgency') SportsAgency
                      option(value='SportsConsulting') SportsConsulting
                      option(value='SportsSoftware') SportsSoftware
                      option(value='FitnessSoftware') FitnessSoftware
                      option(value='FitnessHardware') FitnessHardware
                      option(value='VirtualReality') VirtualReality
                      option(value='AugmentedReality') AugmentedReality
                      option(value='CommunityPlatform') CommunityPlatform
                      option(value='TVandStreaming') TVandStreaming
                      option(value='Bicycle') Bicycle
                      option(value='Football') Football
                      option(value='Soccer') Soccer
                      option(value='Golf') Golf
                      option(value='Cricket') Cricket
                      option(value='Basketball') Basketball
                      option(value='Baseball') Baseball
                      option(value='Journalism') Journalism
                      option(value='Skateboard') Skateboard
                      option(value='Scooter') Scooter
                      option(value='Surfing') Surfing
                      option(value='Tennis') Tennis
                      option(value='Squash') Squash
                      option(value='Fitness') Fitness
                      option(value='Hockey') Hockey
                      option(value='Motorsport') Motorsport
                      option(value='FantasySports') FantasySports
                    label Job Type
                    select(name='jobtype')
                      option(value='Full Time') Full Time
                      option(value='Part Time') Part Time
                      option(value='Internship') Internship
                    label Job Category
                    select(name='tags')
                      option(value='VirtualReality') VirtualReality
                      option(value='Design') Design
                      option(value='WebDevelopment') WebDevelopment
                      option(value='BusinessDevelopment') BusinessDevelopment
                      option(value='Marketing') Marketing
                      option(value='Sales') Sales
                      option(value='ProductManagement') ProductManagement
                      option(value='DataScience') DataScience
                      option(value='MachineLearning') MachineLearning
                      option(value='PeopleOperations') PeopleOperations
                      option(value='Other') Other
                    div.description
                      label Company Description
                      textarea(rows='4', cols='50', id='editor1' name='copmanydescription') Enter text here...
                      label Job Description
                      textarea(rows='4', cols='50', id='editor2' name='description') Enter text here...
                    .image-upload
                      label(for="file-input") Company Logo
                        img(src='https://semantic-ui.com/images/wireframe/white-image.png')
                      input(type="file" name="logo" id="file-input" accept="image/gif, image/png, image/jpeg")
                    label Expected Salary
                    input(type='text'  name='salary')
                    label Website of the company
                    input(type='text'  name='companylink')
                    label Apply Url or Email
                    input(type='text'  name='link')
                    input#checkbox(type='checkbox', name='paid', value='false', checked='')
                    .jobpost__options
                      .jobbox
                        p Help your job stand out
                        input(type="checkbox" id="postoptions" name="highlighted" checked="true")
                        label(for="postoptions") Job post highlighted in yellow 
                      .jobbox
                        input(type="checkbox" id="postoptions" name="highlightedcolor")
                        label(for="postoptions") Job post highlighted in your brand color
                      .jobbox
                        input(type="checkbox" id="postoptions" name="postoptions")
                        label(for="postoptions") List job post on the front page for two weeks
                      .jobbox
                        input(type="checkbox" id="postoptions" name="postoptions" )
                        label(for="postoptions") List job post on the front page for four weeks


                    //- div.checkbox__field
                    //-     p Free Version?
                    //-     div.checkbox
                    //-         input(type='checkbox' name='free' value='true')    
                    input.button#checkout-button(type='submit' value='Post Job for 29$')
      #error-message

     
    script.
            ClassicEditor
              .create( document.querySelector('#editor1'))
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
            ClassicEditor
              .create( document.querySelector('#editor2'))
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                                
            //- CKEDITOR.replace('editor1', {
            //-  toolbarGroups: [{
            //-         "name": "basicstyles",
            //-         "groups": ["basicstyles"]
            //-       },
            //-       {
            //-         "name": "links",
            //-         "groups": ["links"]
            //-       },
            //-       {
            //-         "name": "paragraph",
            //-         "groups": ["list", "blocks"]
            //-       },
            //-       {
            //-         "name": "document",
            //-         "groups": ["mode"]
            //-       },
            //-       {
            //-         "name": "insert",
            //-         "groups": ["insert"]
            //-       },
            //-       {
            //-         "name": "styles",
            //-         "groups": ["styles"]
            //-       },
            //-       {
            //-         "name": "about",
            //-         "groups": ["about"]
            //-       }
            //-     ],
            //-     // Remove the redundant buttons from toolbar groups defined above.
            //-     removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
            //-   });

            //- CKEDITOR.replace('editor2', {
            //-  toolbarGroups: [{
            //-         "name": "basicstyles",
            //-         "groups": ["basicstyles"]
            //-       },
            //-       {
            //-         "name": "links",
            //-         "groups": ["links"]
            //-       },
            //-       {
            //-         "name": "paragraph",
            //-         "groups": ["list", "blocks"]
            //-       },
            //-       {
            //-         "name": "document",
            //-         "groups": ["mode"]
            //-       },
            //-       {
            //-         "name": "insert",
            //-         "groups": ["insert"]
            //-       },
            //-       {
            //-         "name": "styles",
            //-         "groups": ["styles"]
            //-       },
            //-       {
            //-         "name": "about",
            //-         "groups": ["about"]
            //-       }
            //-     ],
            //-     // Remove the redundant buttons from toolbar groups defined above.
            //-     removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
            //-   });