extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Be part of the sports revolution.</strong>
        h2 Find tech and startup jobs in sports.

            