extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug
block seoHeader
  title Sports tech startups

block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Start your career in the SportsTech Industry.</strong>
        h2 Find tech and startup jobs in sports.
  section.jobpostvr
    
    .content
      +_secondmenu     
    div.textbox#industrylanding
        
    h1 Sports tech jobs collection
    h2 Are you looking for a specific industry? <br>Take a look at our sports jobs collections. 
        .grid
            .jobcategory
                a(href='/jobs-in-esports')
                    img(src='images/esports.png' alt='Job openings in eSports') 
            .jobcategory
                a(href='/sports-hardware-jobs')
                    img(src='images/hardware.png' alt='Sportsjobs at Sportshardware companies')
            .jobcategory
                a(href='/tv-and-streaming-jobs')
                    img(src='images/streaming.png' alt='Sportsjobs at TV and Streaming companies')
        .grid
            .jobcategory
                a(href='/jobs-at-sportsagencies')
                    img(src='images/agency.png' alt='Jobs with Sports Agencies')
                    
            .jobcategory
                a(href='/jobs-at-bicycle-companies')
                    img(src='images/bicycle.png' alt='Bicycle Industry Jobs')
            .jobcategory
                a(href='/sports-analytics-jobs')
                    img(src='images/analytics.png' alt='Sports Analytics Jobs')
        .grid
            .jobcategory
                a(href='/jobs-at-skateboard-companies')
                    img(src='images/skateboard.png' alt='Skateboard Companies Jobs')
                    
            .jobcategory
                a(href='/jobs-at-sports-communities')
                    img(src='images/community.png' alt='Jobs at Sports Communities')
            .jobcategory
                a(href='/jobs-at-fitness-software-companies')
                    img(src='images/fitness.png' alt='Fitness Tech & Startup Jobs')
        .grid
            .jobcategory
                a(href='/jobs-in-fantasy-sports')
                    img(src='images/fan.png' alt='The best jobs in FantasySports')
            .jobcategory
                a(href='/jobs-in-football')
                    img(src='images/football.png' alt='The best jobs in Football')
                    
            