extends layout
include mixins/_navbar.pug
include mixins/_secondmenu.pug
//- block seoHeader
//-   title Global sports tech jobs
block content
  div.header 
    div.textbox
      +_navbar 
      div.title
        h1 <strong>Start your career in the Sports Tech Industry.</strong>
  section.jobpostvr
    
    .content
      +_secondmenu     
    div.textbox#industrylanding
        
    h1 Discover thousands of sports tech jobs around the world.
        .grid
            .jobcategory
                a(href='/locations/london')
                    img(src='https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' alt='Sports tech jobs london') 
                    .carddetails
                        p London  
            .jobcategory
                a(href='/locations/amsterdam')
                    img(src='https://images.unsplash.com/photo-1534351764645-a2e5e5362c6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80' alt='Job openings in eSports') 
                    .carddetails
                        p Amsterdam 
            .jobcategory
                a(href='/locations/berlin')
                    img(src='https://images.unsplash.com/photo-1526994882030-731d9bbcfeec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80' alt='Job openings in eSports') 
                    .carddetails
                        p Berlin
            //- .jobcategory
            //-     a(href='/sports-hardware-jobs')
            //-         img(src='images/hardware.png' alt='Sportsjobs at Sportshardware companies')
            //- .jobcategory
            //-     a(href='/tv-and-streaming-jobs')
            //-         img(src='images/streaming.png' alt='Sportsjobs at TV and Streaming companies')
        .grid