body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;

}

.header {
  display: flex;
  flex-direction: row;
  margin: auto;
  background: url('https://images.unsplash.com/photo-1520236351980-16fbcb68e0e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1418&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0,0 calc(100% - 16.75px),100% calc(100% - 50.25px),100% 0);
  position: relative;
  top: 0;
  width: 100%;
  height:80%;
}

.jobpostvr>.secondnavbar{
  display: flex;
  flex-direction: row; 
  align-items: center;
  text-align: center;
}

.box{
  text-align: center;
}
.box>a{
  color: black;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  background-image: linear-gradient(180deg,transparent 70%,#fdf2b7 0);
  padding: 2px;
}

.box>a:hover {
  background-color: rgb(255, 252, 55);
}



.secondnavbar>ul>li{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.secondnavbar>ul>li>a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black; 
}

.textbox {
  padding-top: 0px;
  width: 100%;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
}
.title{
  color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 10vh auto 7.5vh;
    max-width: 100%;
    padding-left: 24px;
    padding-left: 1.5rem;
    padding-right: 24px;
    padding-right: 1.5rem;
    text-align: center;
 font-size: 24px;
}
.textbox_testimonials {
  text-align: left;
  color: palevioletred;

}

.textbox>h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 44px;
}
.textbox>h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 44px;
}

.textbox>h2>span {
  font-weight: 900;

}

.logo>span {
  font-family: 'Permanent Marker', cursive;
}

.logo{
  display: flex;
  flex-direction: row;
  
}

.textbox>h2 {
  font-weight: 100;
  font-size: 24px;
}

.headerimage {
  background: url('../images/basketball.svg');
  width: 400px;
  height: 260px;

}

.newsletter {
  margin-left: 100px;

}

#newsletter {
  background: transparent;
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.content>h1 {
  padding-top: 50px;
}

#subscribe {
  padding: 20px 20px 20px 20px;
  color: white;
  background-color: palevioletred;
  border: rgb(240, 237, 227);
  font-size: 16px;
  cursor: pointer;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: row;
}

#revue-form {
  display: flex;
  flex-direction: row;
}

.field {
  padding: 20px 20px 20px 20px;
  border: 1px solid rgb(240, 237, 227);
  width: 300px;
  font-size: 14px;
  cursor: pointer;
}

.jobpostvr {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  
  position: relative;
}

.jobpostvr>h1 {
  text-decoration: underline;
  font-weight: 400;
  text-align: center;
}
.jobpostvr>h2{
  text-align: center;
  
}

.line {
  width: 106px;
  margin: 50px auto;
  background-color: #00A799;
  height: 2px;
}

.postajob>.button {
  padding: 10px 35px 10px 35px;
  text-decoration: none;
  border: 1px solid palevioletred;
  /* color: palevioletred; */
  border-radius: 5px;
  cursor: pointer;
  background: palevioletred;
  color: white;
}

.postajob>.button:hover {
  padding: 10px 35px 10px 35px;
  background: palevioletred;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.join>.button {
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.main-nav>.twitter {
  padding-top: 15px;
}

/* .header {
  background:linear-gradient(150deg,rgb(151, 228, 241) 15%,#05d5ff 70%,#a6ffcb 94%);
  height:80vh;
  width:100vw;
  display:flex;
  transform: skewY(-12deg);
  transform-origin:0;
} */

/* span {
    height:175px;
    width:33.33333%;
  }
  span:nth-child(1){
    background:rgb(59, 46, 121);
    left:-16%;
    top:50px;
    position:relative;
  }
  span:nth-child(2){
    background:#42477a;
    left:-16%;
    top:50px;
    position:relative;
  }
  span:nth-child(3){
    background:#262257;
    left:-16%;
    top:50px;
    position:relative;
  }
  span:nth-child(4){
    background: #6be5f5;
    position:absolute;
    bottom:150px;
    right:0;
  }
  span:nth-child(5){
    background:#46a4e7;
    position:absolute;
    bottom:0;
  }
} */
.card {
  display: flex;
  flex-direction: row;
}

.nav {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#index2 {
  margin-top: 0px;
}

.card>.cover {
  height: 100px;

  /* background: url('../images/vrbg.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}

.cover>a.button {
  padding: 20px 30px 20px 30px;
  border-radius: 6px;
  background-color: rgb(240, 237, 227);
  border: transparent;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cover>a.button:hover {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}


#nav-items {
  text-align: center;
  line-height: 0px;
  text-decoration: none;
}

#nav-items:hover {

  text-decoration: underline;
}



table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 20px;

}

th,
td {
  text-align: left;
  padding-right: .625em;
  width: 50%;
}

tr {
  /* border-bottom: 1px solid #f5f5f5; */
  cursor: pointer;
}

.advertiser {

  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;

  margin-bottom: 40px;
  margin-top: 40px;

}

.newsletter-box {

  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;

  margin-bottom: 40px;
  margin-top: 40px;

}

.advertiser_testimonials {

  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #efefef;
  margin-bottom: 40px;
  margin-top: 40px;

}

.hire_claimer {
  display: flex;
  flex-direction: row;
}

.advertiser>.hire_claimer>a.button {
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  border: 1px solid palevioletred;
  background: palevioletred;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}

.advertiser p {
  padding-right: 15px;
  font-size: 18px;
}



.joblist {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  
}

.joblist:hover {
  /* border: 1px solid #dddddd; */
  background-color: rgb(240, 237, 227);
}

#paidjobs {
  background-color: rgb(255, 248, 155);
}

.complist {
  margin: 15px;
}

#companieslist>tbody>tr {
  background-color: rgb(255, 248, 155);
  margin: 5px;
  border-bottom: 1px solid #f5f5f5;
}
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.companyinfo {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;

}

.companyinfo>h1 {
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-size: 44px;
  padding-bottom: 20px;

}

.companybox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.companylinks {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 100px;
  border: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;

}

.companylinks>p {
  margin-bottom: 0px;
}

.companylinks>a {
  text-decoration: none;
}

.companyname {
  font-size: 16px;
  font-weight: 100;
}

.companydescription {
  max-width: 50%;
  font-size: 18px;
  letter-spacing: .02rem;

}

.tags {
  flex: 2;
}

.tags>p {
  font-size: 14px;
  padding-right: 5px;
  text-decoration: underline;
}

#tagslist {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.jobcontainer {
  padding-top: 50px;
}


#tagslist>p {
  margin: 4px;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
}

.apply {
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  background: palevioletred;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  width: 15%;
  text-align: center;
  color: white;
}

.apply:hover {
  border: 1px solid palevioletred;
  color: palevioletred;
  background: white;
}

.info {
  padding: 15px 15px 15px 15px;
  text-decoration: none;

  color: palevioletred;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  text-align: center;
}

.info:hover {
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  background-color: palevioletred;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  text-align: center;
}

.forma {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform-style: preserve-3d;
  animation: rotar 8s linear infinite;
}

.forma:after,
.forma:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.forma:after {
  background: rgba(255, 205, 200, 1);
  transform: rotateX(90deg) translateY(50px) translateZ(-50px);

}

.forma:before {
  background: rgba(255, 225, 200, 1);
  transform: rotateX(0deg) translateY(0px) translateZ(100px);

}


/*navbar*/

.navheader {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  margin: 0px;
  
  z-index: 0;
}

.navheader>ul {
  display: flex;
  flex-direction: row;
}

.logo:hover {
  opacity: 0.8;
}



.main-nav {
  margin-top: 15px;
  
}

.main-nav a {
  /* color: #34495e; */
  color: white;
  font-size: .99em;
}

.main-nav a:hover {
  color: #718daa;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.navheader>ul>li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.postajob {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 769px) {

  .navheader,
  .main-nav {
    display: flex;
  }

  .navheader {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .navheader {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*companypage*/

.companieslist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;

}

.header>h1 {
  text-align: center;
  font-size: 34px;
  padding: 50px;
  margin: 0 auto;
}

.header>h1>span {

  color: palevioletred;
}

.complist {
  list-style: none;
  display: block;
  margin: 1em .5em;
  padding: 1.8em;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  max-width: 120px;
  min-width: 120px;
  cursor: pointer;
  text-decoration: none;
  color: black;

}

.complist:hover {
  background-color: blanchedalmond;
}

.companieslist>.joblist {
  margin: 1em .5em;

}



p#tags[data-type='Sales'] {
  /* background: #ffb3b3!important; */
  background-color: rgb(159, 204, 255) !important;
}

p#tags[data-type='BusinessDevelopment'] {
  /* background: #ffb3b3!important; */
  background-color: #9378e4;
}

p#tags[data-type='BusinessDevelopment'] {
  /* background: #ffb3b3!important; */
  background-color: #9378e4;
}
p#tags[data-type='WebDevelopment'] {
  /* background: #ffb3b3!important; */
  background-color: #2EEC91;
}
p#tags[data-type='ProductManagement'] {
  /* background: #ffb3b3!important; */
  background-color: #FF8DC7;
}

p#tags[data-type='VirtualReality'] {
  /* background: #ffb3b3!important; */
  background-color: #00acff;
}
tr[data-type='VirtualReality'] {
  
  border-left: 4px solid  #00acff;
}


p#tags[data-type='DataScience'] {
  /* background: #ffb3b3!important; */
  background-color: #ff8b8b;
}
tr[data-type='DataScience'] {
  
  border-left: 4px solid  #ff8b8b;
}

p#tags[data-type='MachineLearning'] {
  /* background: #ffb3b3!important; */
  background-color: #f9f738;
}
tr[data-type='MachineLearning'] {
  
  border-left: 4px solid  #f9f738;
}
p#tags[data-type='Design'] {
  /* background: #ffb3b3!important; */
  background-color: #f3c9dd;
}
tr[data-type='Design'] {
  
  border-left: 4px solid  #f3c9dd;
}

p#tags[data-type='Marketing'] {
  /* background: #ffb3b3!important; */
  background-color: #a6cfe2;
}
tr[data-type='Marketing'] {
  
  border-left: 4px solid  #a6cfe2;
}

p#tags[data-type='PeopleOperations'] {
  /* background: #ffb3b3!important; */
  background-color: #fbfe56;
}
tr[data-type='PeopleOperations'] {
  
  border-left: 4px solid  #fbfe56;
}

tr[data-type='BusinessDevelopment'] {
  
  border-left: 4px solid  #9378e4;
}

tr[data-type='Sales'] {
  border-left: 4px solid rgb(159, 204, 255) ;
}

tr[data-type='ProductManagement'] {
  border-left: 4px solid #FF8DC7;
}
tr[data-type='WebDevelopment'] {
  border-left: 4px solid #2EEC91;
}

/* tr[data-location='Remote'] {
  background: #ffb3b3!important; 
} */


.companies>table>th,
td {
  padding-left: 22px;
  padding-bottom: 10px;
  border-left-color: 1px solid #0077B5;
}

#company {
  border: 1px solid #ebebeb;
  padding: 5px;
  width: 32%;
}

#company:hover {
  border: 1px solid #020000;
  padding: 5px;

}

/* .company:hover {
  color: palevioletred;

} */

#company>td#companytags {
  display: flex;
  flex-direction: row;
  padding: 4px;
  width: 90%;
}

.company {
  font-size: 18px;
  font-weight: bold;
}

.morejobs {
  text-decoration: underline;
  font-weight: 900;
  padding-top: 15px;
  color: black;
}

/*jobpage*/

.jobinformation {
  padding-right: 200px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.jobinformation>h1 {
  text-align: center;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.position {
  text-decoration: underline;
}

.location {
  font-size: 16px;
  line-height: 1.5;
  padding-right: 100px;
}

.jobdetails {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.jobdetails>.location {
  font-size: 20px;
  font-weight: 700;
}

.generalinfo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.jobdescription {
  display: flex;
  flex-direction: column;

}

#sharebuttonsfb {
  background-color: #3b5998;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 14px;
}

#sharebuttonsfb:hover {
  background-color: transparent;

  color: #3b5998;
  box-shadow: 0 0 0 1px #3b5998;

}

#sharebuttonstw {
  background-color: #55acee;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 14px;
}

#sharebuttonstw:hover {
  background-color: transparent;

  color: dodgerblue;
  box-shadow: 0 0 0 1px dodgerblue;
}

#sharebuttonsli {
  background-color: #0077B5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#sharebuttonsli:hover {
  background-color: transparent;
  color: #0077B5;
  box-shadow: 0 0 0 1px #0077B5;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.jobcategory>a>img {
  height: 150px;
  width: 250px;
  margin: 5px;
}

#subline {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}

#headline {
  text-align: center;
}

.main {
  padding-bottom: 50px;
}

.madeby-a {
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  color: #fff;
  position: fixed;
  font-weight: 500;
  z-index: 8;
  border-top-left-radius: 5px;
  padding: 0.5em;
  border-top: 1px solid #f2feef;
  ;
  border-left: 1px solid #f2feef;
  ;
  background: #fff;
  color: palevioletred;
  text-decoration: none;
}

.madeby-a>img {}

.madeby-a>p {
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin: 0.5em;
  font-weight: 400;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #efefef;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.footer>ul {
  font-style: bold;

}

.footer>ul>li {
  list-style: none;
  padding: 4px;
}

.footer>ul>li>a {
  text-decoration: none;

}

.footer>ul>p {
  font-size: 16px;
  font-weight: bold;
}

/*hire page*/

.job_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.jobform {
  width: 87%;

}

.explainer__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #ededed; */
  border-radius: 5px;
  padding: 7px;
  position: relative;
  
  margin: 50px;
  color: #888;
  
}

.explainer__box>p{
  color: black;
  opacity: 1;
  font-size: 18px;
  line-height: 1.4;
  font-size: 38px;
}

#subline{
  font-size: 18px;
  text-align: left; 
}

.logo__box{
  display: flex;
  flex-direction: row;
  
}

#logos {
  padding: 15px;
  cursor: pointer;

}
#logos:hover{
  opacity: 0.5;
}

.submissionexplainer {
  margin: 50px;
  width: 35%;

}

.submissionexplainer>.list>ul>li {
  list-style: none;
  color: #6d6d6d;

}

.submissionexplainer>.trust>p {
  text-align: center;
  color: #6d6d6d;

}

.list {
  border: 1px solid #f0f0f0;
  text-align: center;
}

.list>p {
  color: #6d6d6d;
  margin: 26px;
}

.list>p>span {
  font-size: 18px;
  font-style: bold;
  color: black;
}

.submissionexplainer>h1 {
  text-align: center;
  font-size: 18px;
}

.trust {
  border: 1px solid #f0f0f0;
  padding: 20px;

}

.trust>p {
  font-size: 20px;
}

.companies__customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.companies__customers>a>img {
  height: 4em;
  margin: 0 0.5rem;
  padding: 15px;
}

.submissionform {
  margin: 50px;
}

#center {
  text-align: center;
}

#jobForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 7px;
  position: relative;
}

.jobpost__options{
  margin: 10px;
  padding: 10px;
  border: 1px solid #f5f5f5;
  background-color: #fbfbfb;
}

.jobpost__options>label{
  font-weight: 800;
  color: #444;
  display: block;
  margin: 16px;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 14px;
}

.jobbox{
  padding: 4px;
}

#jobForm>label {
  font-weight: 800;
  color: #444;
  display: block;
  margin: 16px;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 14px;
}

#companylogo {
  display: flex;
  direction: column;
  
}
.image-upload{
  display: flex;
  flex-direction: column;
}
.image-upload>label{
  display: flex;
  flex-direction: column;
  margin: 16px;
  font-weight: 800;
  color: #444;
  text-transform: uppercase;
    font-size: 14px;
  
}
.image-upload > input
{
    display: none;
}
.jobdescription{
  margin: 14px;
}

.jobdescription>label{
  font-weight: 800;
  color: #444;
  display: block;
  margin-bottom: 0;
  margin-top: 18px;
  text-transform: uppercase;
  font-size: 14px;
}

.jobpost__options {
  display: flex; 
  flex-direction: column;
}

.image-upload img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: 1px solid #ededed;
  margin-top: 7px;
}

#jobForm>input {
  box-shadow: none;
  appearance: none;
  padding: 7px;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin: 14px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 14px;
  background: #fbfbfb;
  width: calc(100% - 28px);
}

#jobForm>select {
  box-shadow: none;
  appearance: none;
  padding: 7px;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin: 14px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 14px;
  background: #fbfbfb;
  width: calc(100% - 28px);
}

.button__bar{
  display: flex; 
  flex-direction: row; 
  justify-content: center
}

.checkout-button {
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  padding: 14px !important;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  border: 2px solid #ff4742;
  width: 100%;
  background-color: rgb(255, 238, 203) !important;
  border: none;
  color: #FF8F00;
  margin-top: 40px;
}

#checkbox {
  visibility: hidden;
}

.textbox__left {
  display: flex;
  flex-direction: column;
}

.example.example1 {
  background-color: #6772e5;
}

.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.example.example1 fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.example.example1 .row + .row {
  border-top: 1px solid #819efc;
}

.example.example1 label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #87bbfd;
}

.example.example1 input::-moz-placeholder {
  color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.example.example1 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}

.carddetails {
    position: absolute;
    top: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 2em transparent;
    text-align: center;
    padding: 1em;
    color: white;
}

#subtitle{
  
  font-size: 32px;
}