.footer
    ul 
        p.company © 2018 Sportek
            
            li 
                a(href='https://undraw.co/') Illustrations by undraw
    ul 
        p.company Jobs in Sports
            li 
                a(href='/sportsjobs-web-development-jobs') Developer Jobs
            li 
                a(href='/sportsjobs-virtual-reality-jobs') Virtual Reality Jobs
            li 
                a(href='/sportsjobs-data-science-jobs') Data Science Jobs
            li 
                a(href='/sportsjobs-business-development-jobs') Business Development Jobs
            li 
                a(href='/sportsjobs-machine-learning-jobs') Machine Learning Jobs
            li 
                a(href='/sportsjobs-product-management-jobs') Product Management Jobs
            li 
                a(href='/sportsjobs-design-jobs') Design Jobs
            li 
                a(href='/sportsjobs-marketing-jobs') Marketing Jobs
            li 
                a(href='/sportsjobs-sales-jobs') Sales Jobs
            li 
                a(href='/sportsjobs-people-operations-jobs') People Operations Jobs
    ul 
        p.company Community
            li 
                a(href='https://www.reddit.com/r/Sportekjobs/') Reddit
            li 
                a(href='https://twitter.com/Sportekjobs') Twitter
            